html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: no-repeat center fixed linear-gradient(to bottom, rgba(255, 244, 0, 0.3), rgba(37, 0, 255, 0.75));
    background-size: cover;
    max-width: 100%;
}


.container-with-paginate {
    height: 25em;
    width: 25em;
    border-radius: 10%;
    background: rgba(0, 0, 0, 0.95);

}

.scroll-inf {
    overflow-y: scroll;
    height: 25em;
    width: 20em;
    padding-top: 1em;
}

.scroll-inf::-webkit-scrollbar {
    background: #e8f2ff;
}

.scroll-inf::-webkit-scrollbar-thumb {
    background: rgba(109, 69, 134, 0.9);
}

.game-box {
    background-color: rgba(109, 69, 134, 0.9);
    width: 16rem;
    border-radius: 10%;
}


#filter-form {
    width: 30em;
    height: 25em;
    border-radius: 10%;
    background: rgba(0, 0, 0, 0.95);
}

.btn {
    color: black;
    transition: color 0.25s;
}

.btn:hover {
    color: rgba(255, 255, 255, 0.75);
}

.show-game {
    background-color: rgba(109, 69, 134, 0.9);
    width: 25rem;
    border-radius: 1em;
}

h6.card-subtitle.mb-2 {
    color: rgba(255, 215, 38, 0.8);
}

div.btn-group {
    margin-left: 5.5em;
}

main.h-75 {
    margin-top: 4em;
}

button.question-reveal {
    height: 3em;
    width: 100%;
    border-radius: 0.25em;
    border-top: 0.2em solid black;
    border-bottom: 0.2em solid black;
    border-left: 0.15em solid black;
    border-right: 0.15em solid black;
    font-size: 1.5em;
    color: gold;
    background-color: #060CE9;
    font-family: 'Silkscreen', cursive;
    transition: background-color 0.25s;
}

button.question-reveal:hover {
    background-color: #e97006;
}

button.question-reveal:disabled {
    background-color: #4d4e53;
}

.category-title {
    padding: 1em 0;
    width: 100%;
    height: 5em;
    margin-bottom: 0;
    color: #f5ebe0;
    border-top: 0.2em solid black;
    border-bottom: 0.2em solid black;
    border-left: 0.1em solid black;
    border-right: 0.1em solid black;
    background-color: #060CE9;
    font-family: 'Silkscreen', cursive;
}

.category-title h5 {
    margin: 0;
    font-size: 2vw;
}

div.show-question-answer {
    height: fit-content;
    min-height: 12.5em;
}

span.qBody {
    text-align: center;
    margin-top: 1em;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    transition: visibility 3s;
    color: rgba(245, 235, 224, 0.8);
}

b.amt-of-pts {
    color: rgba(255, 215, 0, 0.75);
}

button.qAnsBtn {
    border-radius: 0.25em;
    border-top: 0.2em solid black;
    border-bottom: 0.2em solid black;
    border-left: 0.15em solid black;
    border-right: 0.15em solid black;
    font-size: 1em;
    color: gold;
    background-color: #060CE9;
    font-family: 'Silkscreen', cursive;
    transition: background-color 0.25s;
    margin: 1em 0;
}


button.qAnsBtn:hover {
    background-color: #e97006;
}

button.qAnsBtn:disabled {
    background-color: #4d4e53;
}


.answer-box {
    height: fit-content;
}

.qAns {
    padding: 0.25em;
    border-radius: 0.5em;
    font-family: 'Silkscreen', cursive;
    color: RGB(25, 135, 84, 0.9);
    background-color: rgba(0, 0, 0, 0.95);
}

.team-points-box {
    font-family: 'Silkscreen', cursive;
    margin: 0.5em 4em;
    color: #f5ebe0;
    border-radius: 0.5em;
    padding: 1em;
    background: rgba(0, 0, 0, 0.95);

}

#game-body {
    overflow-x: auto;
}

@media (min-width: 992px) {
    main.h-75 {
        margin-top: 8em;
    }
}