<%layout('layouts/boilerplate')-%>
<section class="h-100 d-flex align-items-center">
  <div class="w-100 h-75 d-flex justify-content-around">
    <container>
      <h4 class="text-center mb-4"><u>Filtered games:</u></h4>
      <div class="container-with-paginate mx-auto">
        <div class="mx-auto scroll-inf d-flex flex-column" id="games-list">
          <div id="games-container">
            <% for(let game of games.docs) {%>
            <div class="card text-white mb-3 mx-auto game-box">
              <div class="card-header">
                Made By: <%= game.author.username %>
              </div>
              <div class="card-body">
                <h5 class="card-title"><%= game.title %></h5>
                <p class="card-text">
                  <a href="/game/<%= game._id %>" class="btn btn-warning"
                    >See Details</a
                  >
                </p>
              </div>
            </div>
            <% } %>
          </div>
          <% if (games.hasNextPg) {%>
          <a
            href="<%= nextUrl%>"
            id="filter-paginate-btn"
            class="btn btn-warning mx-auto w-75"
            >Load More</a
          >
          <% } %>
        </div>
      </div>
    </container>
  </div>
</section>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>
<script src="/javascripts/paginateFilter.js"></script>
