<%layout('layouts/boilerplate')-%>
<section class="h-100 d-flex align-items-center">
  <div class="w-100 h-75 d-flex justify-content-around row">
    <div class="offset-2 col-4 mx-2 border border-dark mh-100">
      <h4>Public Games</h4>
      <div
        class="mx-auto border border-primary scroll-inf d-flex flex-column"
        id="games-list"
      >
        <div id="games-container">
          <% for(let game of games.docs) {%>
          <div class="card text-white bg-secondary mb-3 mx-auto game-box">
            <div class="card-header">Made By: <%= game.author.username %></div>
            <div class="card-body">
              <h5 class="card-title"><%= game.title %></h5>
              <p class="card-text">
                <a href="/game/<%= game._id %>" class="btn btn-primary"
                  >See Details</a
                >
              </p>
            </div>
          </div>
          <% } %>
        </div>
        <% if(games.docs.length>=10){ %>
        <a
          href="/game?page=<%=games.nextPage%>"
          id="paginate"
          class="btn btn-primary mx-auto"
        >
          Load More
        </a>
        <% } %>
      </div>
    </div>

    <div class="col-4 mx-2 border border-dark mh-100">
      <div class="h-75 mt-5">
        <form action="/game/searchGame" method="GET">
          <h5 class="mb-4">Search form</h5>
          <div class="row mb-4">
            <div class="offset-1 col-1 d-flex justify-content-end">
              <label class="form-label text-muted" for="gametitle">Title</label>
            </div>
            <div class="offset-1 col-8">
              <input
                type="text"
                name="title"
                id="gametitle"
                class="form-control"
              />
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-1 offset-1 d-flex justify-content-end">
              <label class="form-label text-muted" for="gameAuthor"
                >Author</label
              >
            </div>
            <div class="offset-1 col-8">
              <input
                type="text"
                name="author"
                id="gameAuthor"
                class="form-control"
              />
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-5">
              <label class="form-label text-muted" for="categoriesLength"
                >Number of categories</label
              >
            </div>
            <div class="offset-3 col-3">
              <input
                type="number"
                name="numOfCategories"
                id="categoriesLength"
                min="1"
                max="6"
                class="form-control w-75 mx-auto"
              />
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-5">
              <label class="form-label text-muted" for="questionsLength"
                >Number of Questions (per category)</label
              >
            </div>
            <div class="offset-3 col-3">
              <input
                type="number"
                name="numOfQuestions"
                id="questionsLength"
                min="1"
                max="5"
                class="form-control w-75 mx-auto"
              />
            </div>
          </div>
          <button class="btn btn-primary">Search</button>
        </form>
      </div>
    </div>
  </div>
</section>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>
<script src="/javascripts/pagination.js"></script>
