<%layout('layouts/boilerplate')-%>
<section class="h-100 d-flex align-items-center">
  <div class="w-100 h-75 d-flex justify-content-around">
    <div class="offset-2 col-4 mx-2 border border-dark mh-100">
      <h4>Your Games</h4>
      <div
        class="mx-auto border border-primary scroll-inf d-flex flex-column"
        id="games-list"
      >
        <div id="games-container">
          <% for(let game of games.docs) {%>
          <div class="card text-white bg-secondary mb-3 mx-auto game-box">
            <div class="card-header"><%= game.access %></div>
            <div class="card-body">
              <h5 class="card-title"><%= game.title %></h5>
              <p class="card-text">
                <a href="/game/<%= game._id %>" class="btn btn-primary"
                  >See Details</a
                >
              </p>
            </div>
          </div>
          <% } %>
        </div>
        <% if (games.docs.length>=10){ %>
        <a
          href="/game/myGames?page=<%=games.nextPage%>"
          id="paginate"
          class="btn btn-primary mx-auto"
        >
          Load More
        </a>
        <% } %>
      </div>
    </div>
  </div>
</section>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>
<script src="/javascripts/pagination.js"></script>
